{
  "DEFAULT_LOGGER": "orders",
  "logger": {
      "customers": {
          "logLevel": "INFO",
          "filters": [
             "FULL_TEXT_FORMAT",
             {
               "name": "NAMED_FILE_WRITER",
               "fileName": "c:/temp/{client}/pasoe_etranssme_{message}_${t.today}.log",
               "appendTo": true
             }
          ]
      },
      "orders":{
      "logLevel": "INFO",
          "filters": [
             "FULL_TEXT_FORMAT",
             {
               "name": "NAMED_FILE_WRITER",
               "fileName": "c:/temp/{client}/pasoe_etranssme_{message}_${t.today}.log",
               "appendTo": true
             }
          ]
      }
  }
}