/bin
*.cfg
.builder
.scripts
.sonarlint
.gradle
.settings
.gitignore
.gitattributes
*.log
*.out
.devcontainer/windsurf/*
.devcontainer/logs/*
src/mcp
src/tests/mcp



.gradle/buildOutputCleanup/
docker/binaries/
